[Desktop Entry]
Type=Application
Name=ReelMux
Comment=Edit MP4 tracks, subtitles, metadata and artwork
Exec=reelmux %f
Icon=io.github.nahime0.ReelMux
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
MimeType=video/mp4;video/x-matroska;video/quicktime;
StartupNotify=true
